@model CherryCitySoftware.MedicalOffice.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.DocFile != null && Model.DocFile.Count > 0)
        {
            <dt>
                @Html.Label(Model.DocFile.Count == 1 ? "Attachment" : "Attachments")
            </dt>
            <dd>
                @foreach (var df in Model.DocFile)
                {
                    @Html.ActionLink(df.FileName, "Download", "DocFiles", new { Id = df.ID }, new { })
                }
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
